
.Nav1dropdown-main {
    width: 100%;
    height: 100%;
}

.Nav1dropdown-main.visible {
    display: block;
}

.Nav1dropdown {
    /* margin-top: 84.5vh; */
   /* margin-top: 84.5vh; */
   width: 100%;
   height: 80vh;
   background-color: #8d87a1;
   position: relative;
   z-index: 999;
   display: flex;
   justify-content: space-between;
}

.navbar1dropdown-left {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid black;
}

.navbar1dropdown-ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar1dropdown-ul ul {
    height: 70%;
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navbar1dropdown-middle {
    width: 50%;
    border-left: 1px solid black;
}

.navbar1dropdown-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    justify-content: space-around;
}

.navbar1dropdown-middle h2 {
    margin-top: 25px;
}

.navbar1dropdown-middle ul {
    width: 80%;
    list-style: none;
    height: 100%;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.heading-li {
    margin-top: 20px;
}

.content-ui {
    margin-top: 10px;
}

.navbar1dropdown-right {
    width: 25%;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar1dropdown-right h2 {
    margin-top: 25px;
}

.navbar1dropdown-right ul {
    width: 80%;
    list-style: none;
    height: 75%;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}